@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Commissioner", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #000;
}

:root {
  --main-color: #25438f;
  --button-hover-bg-color: #94b9a340;
}

.section {
  margin-top: 2em;
}

.section-mobile {
  margin-top: 2em;
  margin-bottom: 2em;
}

.section-center {
  min-height: 88vh;
  display: flex;
  align-items: center;
  margin: 0;
}

.hello {
  font-size: 21px;
  font-weight: 700;
}

h1 {
  font-size: 91px;
  font-weight: 700;
}

.presentation h2 {
  color: var(--main-color);
}

.sidebar {
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}

.my-image {
  width: 90%;
  height: 90%;

  background: url("../public/images/shapes.gif");
  background-size: cover;
  background-position: center;
}

.nav-button {
  text-transform: uppercase;
  padding: 0.7em;
  border: none;
  background: none;
  color: #000;
  border-left: var(--main-color) solid;
  transition: all 0.3s;
  text-align: left;
}

.button {
  text-transform: uppercase;
  padding: 0.7em;
  border: none;
  background: none;
  color: #000;
  border-left: var(--main-color) solid;
  transition: all 0.3s;
  text-align: left;
  min-width: 250px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.button span {
  left: 0;
  position: relative;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
}

.button:hover span {
  left: 10px;
}

.headerLink {
  padding: 0.7em;
  border-radius: 1em;
  border: solid var(--main-color) 2px;
  background: none;
  color: var(--main-color);
  transition: all 0.3s;
  text-align: left;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}

.headerLink:hover {
  background: var(--main-color);
  color: #fff;
}

.education-card,
.work-card,
.portfolio-card {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.education-card h4,
.work-card h4 {
  font-size: 15px;
  color: var(--main-color);
}

.work-img:hover {
  cursor: pointer;
}

.education-img img,
.work-img img {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease;
}

.education-img img:hover,
.work-img img:hover {
  box-shadow: 0 0 30px #3d6595;
}

.education-img:hover,
.work-img:hover {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1em;
}

.section-title {
  font-size: 50px;
  font-weight: 700;
}

.footer {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.footer .whatsnext {
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: bold;
}

.footer h2 {
  font-weight: 700;
}

.footer button {
  margin: auto;
}

.footer p span {
  font-weight: 700;
}

.nav-link {
  text-transform: uppercase;
  color: #000;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 13px;
  border-bottom: transparent solid;
  border-radius: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #000;
  border-bottom: transparent solid;
}

.nav-link:active {
  background-color: transparent !important;
  color: #000 !important;
}

.nav-link:hover {
  opacity: 0.7;
  background-color: transparent !important;
}

.nav-link.active {
  border-bottom: var(--main-color) solid;
  background-color: transparent;
  font-weight: 600;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 0.3em 0;
}

.navbar ul {
  justify-content: space-between;
}

.portfolio-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 277px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dev-card .portfolio-img {
  cursor: initial;
}

.portfolio-img:before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.3s ease-out;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7875525210084033) 35%,
    rgba(0, 212, 255, 0) 100%
  );
}

.portfolio-content {
  padding: 1em;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
}

.portfolio-img:hover .portfolio-content {
  opacity: 1;
}

.socials {
  margin-top: 1em;
}

.socials svg {
  margin-left: 5px;
  margin-right: 5px;
}

.showModal {
  transform: translateY(0);
  top: 0;
}

/* Info modal css */
.infoModal {
  position: relative;
  background-color: #fff;
  border: 1px solid #000;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
  z-index: 1;
  width: 53.5em;
  overflow-y: hidden;
  height: 90%;
}

.infoModalContainer {
  display: flex;
  position: fixed;
  height: calc(100% - 50px);
  align-items: center;
  justify-content: center;
  top: 50px;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.hideModal {
  transform: translateY(100%);
  overflow: hidden;
}

.infoModal img {
  width: auto;
  height: 100%;
  object-fit: cover;
  max-width: 65%;
  border-radius: 15px;
}

.infoModal h2 {
  color: #25438f;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.infoModal h3 {
  color: #25438f;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
}

.infoModal h4 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 0.2em;
}

.infoModal .button {
}

.cardContentHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  top: 0;
  position: sticky;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 0 0;
  min-height: 82px;
}

.infoModal-content {
  padding: 1em;
  overflow-y: scroll;
  height: calc(100% - 83px);
}

.closeIcon {
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 12px;
}

.closeIcon-div {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: end;
}

.closeIcon-div .closeIcon {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 1em;
}

.codeButton {
  padding: 1em 2em;
  border-radius: 20px;
  background-color: #f5f5f5;
  text-decoration: none;
  color: #04060a;
  margin-bottom: 1em;
}

.img-wrapper {
  text-align: center;
}

.img-wrapper img {
  cursor: pointer;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.yarl__button.yarl__navigation_next,
.yarl__button.yarl__navigation_prev {
  display: none;
}

.section-wrapper {
  position: relative;
}

.navbar-brand {
  max-width: 40px;
  padding: 0;
}

.navbar-brand img {
  width: 100%;
  height: auto;
}

.navbar-nav {
  align-items: baseline;
}

iframe {
  max-width: 100%;
}

.video-iframe {
  width: 100%;
  height: 315px;
}

/* Hamburger menu */

.burger {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  right: 1rem;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.burger > div {
  height: 2px;
  background-color: #000;
  transition: 0.5s;
  z-index: 999;
}

.burger.opened > div:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.burger.opened > div:nth-child(2) {
  opacity: 0;
}

.burger.opened > div:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.contact-link a {
  color: #000;
  font-size: 1.5em;
  margin-right: 0.5em;
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.contact-link a:hover {
  opacity: 0.7;
}

.contact-link {
  margin-bottom: 1em;
}

/* Css for devices with a width inferior to 768px, so including mobile phones */
@media (max-width: 768px) {
  .infoModal {
    width: 32.2em;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .portfolio-content {
    opacity: 1;
  }

  .portfolio-img:before {
    height: 40%;
    border-radius: 10px;
  }
}

@media (max-width: 991px) {
  .offset-xsm-1 {
    margin-left: 8.33333333%;
  }
}

@media (max-width: 575px) {
  .infoModal {
    width: 95.5%;
  }
}

@media (min-width: 769px) {
  .closeIcon-div {
    display: none;
  }

  .video-iframe {
    width: 530px;
    height: 315px;
  }

  .section-wrapper {
    justify-content: space-evenly;
  }

  .infoModal {
    width: 44em;
  }

  .portfolio-img:hover:before {
    height: 40%;
    border-radius: 10px;
  }
}

@media (min-width: 992px) {
  .infoModal {
    width: 47em;
  }
}

.custom-card-title {
  font-size: calc(1.3rem + 0.6vw);
}

.design {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  display: block;
}

@media (min-width: 1200px) {
  .infoModal {
    width: 55em;
  }

  .custom-card-title {
    font-size: 1.75rem;
  }

  .design {
    font-size: 1.5rem;
  }
}

@media (min-width: 1400px) {
  .infoModal {
    width: 65em;
  }
}

@media (min-width: 769px) {
  .navbar {
    display: block;
  }

  .me-auto {
    width: 100%;
    justify-content: space-between;
  }

  .navbar-brand {
    display: none;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

.carousel-fade .active.carousel-item-start {
  opacity: 0;
  transition: all 0.6s;
}

.carousel .active.carousel-item-end {
  transition: all 0.6s;
}

.tools {
  display: flex;
}

.tools span p {
  font-size: 17px;
  color: var(--main-color);
  font-weight: 500;
  margin-right: 0.5em;
}
